# CONFIG_ARCH_AGILEX is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_BCM2835 is not set
# CONFIG_ARCH_BCM_IPROC is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_ARCH_BITMAIN is not set
# CONFIG_ARCH_REALTEK is not set
# CONFIG_ARCH_BRCMSTB is not set
# CONFIG_ARCH_EXYNOS is not set
# CONFIG_ARCH_K3 is not set
# CONFIG_ARCH_LAYERSCAPE is not set
# CONFIG_ARCH_LG1K is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_MESON is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_ARCH_QCOM is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_ROCKCHIP is not set
# CONFIG_ARCH_SEATTLE is not set
# CONFIG_ARCH_STRATIX10 is not set
# CONFIG_ARCH_SYNQUACER is not set
# CONFIG_ARCH_SPRD is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_THUNDER is not set
# CONFIG_ARCH_THUNDER2 is not set
# CONFIG_ARCH_UNIPHIER is not set
# CONFIG_ARCH_VEXPRESS is not set
# CONFIG_ARCH_XGENE is not set
# CONFIG_ARCH_ZX is not set
# CONFIG_ARCH_ZYNQMP is not set
# CONFIG_ARM_ARMADA_8K_CPUFREQ is not set
# CONFIG_ARM_MEDIATEK_CPUFREQ is not set
# CONFIG_ARM_QCOM_CPUFREQ_KRYO is not set
# CONFIG_ARM_QCOM_CPUFREQ_HW is not set
# CONFIG_VIRTUALIZATION is not set
# CONFIG_BT is not set
# CONFIG_RFKILL is not set
# CONFIG_NET_9P is not set
# CONFIG_DRM is not set
# CONFIG_DRM_DP_CEC is not set
# CONFIG_FB is not set
# CONFIG_IIO is not set
# CONFIG_WIRELESS is not set
# CONFIG_WLAN is not set
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_ACPI is not set
# CONFIG_SPMI is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_MMC is not set
# CONFIG_NEW_LEDS is not set
# CONFIG_MFD_CROS_EC is not set
# CONFIG_ARM64_CRYPTO is not set
# CONFIG_MD is not set
# CONFIG_VFIO is not set
# CONFIG_TEE is not set
# CONFIG_FPGA is not set
# CONFIG_CHROME_PLATFORMS is not set
# CONFIG_VIRTIO_PCI is not set
# CONFIG_VIRTIO_BALLOON is not set
# CONFIG_VIRTIO_MMIO is not set
# CONFIG_VIRTIO_PCI_LEGACY is not set
# CONFIG_XEN_NETDEV_FRONTEND is not set
# CONFIG_AT803X_PHY is not set
# CONFIG_MARVELL_PHY is not set
# CONFIG_MARVELL_10G_PHY is not set
# CONFIG_MICREL_PHY is not set
# CONFIG_MICROCHIP_PHY is not set
# CONFIG_ROCKCHIP_PHY is not set
# CONFIG_REALTEK_PHY is not set
# CONFIG_NETFILTER is not set
# CONFIG_BRIDGE is not set
# CONFIG_VLAN_8021Q is not set
# CONFIG_VLAN_8021Q_GVRP is not set
# CONFIG_VLAN_8021Q_MVRP is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_RC_CORE is not set
CONFIG_IMX_DSP=y
