CONFIG_EXPERT=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_PM_ADVANCED_DEBUG=y

CONFIG_FW_LOADER_COMPRESS=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y

CONFIG_BUILD_SALT=""

# General configuration
CONFIG_USER_NS=y

# Thermal
CONFIG_THERMAL=y
CONFIG_THERMAL_GOV_STEP_WISE=y
CONFIG_THERMAL_GOV_USER_SPACE=y

# Core temperature sensor
CONFIG_SENSORS_CORETEMP=y

# This default value (and many others) were changed by upstream commit:
#   410ce3dd5055b x86/config: Make the x86 defconfigs a bit more usable
# Disable it again.
# CONFIG_HYPERVISOR_GUEST is not set

# SElinux
CONFIG_SECURITY_SELINUX_DISABLE=y

# Required to boot some Fedora spins with default settings.
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_XFS_FS=y
CONFIG_IOSCHED_BFQ=y

# Memory management
CONFIG_FRONTSWAP=y

# Need this when graphics fail (don't forget to drop "quiet splash"
# in the grub config)

# Even when graphics work, without a framebuffer console `chvt` still
# works but it is "blind" / with a frozen GUI instead! Incredibly
# confusing. Linux distributions expect this.
CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y
# add support for using the EFI framebuffer as console
CONFIG_FB_EFI=y
# FB emulation appears to be needed for HDMI audio (!) support and
# it is not enabled default since 6.7.0-rc1
CONFIG_DRM_FBDEV_EMULATION=y

# sudo modprobe configs && zgrep SOF_DEBUG /proc/config.gz
CONFIG_IKCONFIG=m
CONFIG_IKCONFIG_PROC=y

# Enable OF match for PRP0001 ACPI devices
CONFIG_OF=y

# EFI
CONFIG_EFI_STUB=y
CONFIG_EFI_MIXED=y

# DEVMEM - disable strict for debug - don't use for distros!!
CONFIG_STRICT_DEVMEM=n

# LPSS
CONFIG_X86_INTEL_LPSS=y
CONFIG_MFD_CORE=m
CONFIG_MFD_INTEL_LPSS=m
CONFIG_MFD_INTEL_LPSS_ACPI=m
CONFIG_MFD_INTEL_LPSS_PCI=m

# GPIO
CONFIG_GPIOLIB=y
CONFIG_GPIO_ACPI=y
CONFIG_GPIOLIB_IRQCHIP=y
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_DEBUG=y

# PINCTRL
CONFIG_PINCTRL=y
CONFIG_PINCTRL_BAYTRAIL=y
CONFIG_PINCTRL_CHERRYVIEW=y
CONFIG_PINCTRL_BROXTON=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_PINCTRL_GEMINILAKE=y
CONFIG_PINCTRL_ICELAKE=y
CONFIG_PINCTRL_JASPERLAKE=y
CONFIG_PINCTRL_SUNRISEPOINT=y
CONFIG_PINCTRL_TIGERLAKE=y
# CONFIG_PINCTRL_ELKHARTLAKE=y
CONFIG_PINCTRL_ALDERLAKE=y
CONFIG_PINCTRL_METEORLAKE=y

# DesignWare
CONFIG_DW_DMAC=y
CONFIG_DW_DMAC_PCI=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y

# I2C
CONFIG_I2C_CHARDEV=y

# SPI
CONFIG_SPI=y
# CONFIG_SPI_DEBUG is not set
CONFIG_SPI_MASTER=y

CONFIG_REGMAP_SPI=y
CONFIG_SPI_DESIGNWARE=m
CONFIG_SPI_DW_PCI=m
CONFIG_SPI_DW_MID_DMA=y
CONFIG_SPI_DW_MMIO=m

# SOUND
CONFIG_SOUND=m
CONFIG_SND=m
CONFIG_SND_VERBOSE_PRINTK=y
CONFIG_SND_DEBUG=y
CONFIG_SND_CTL_VALIDATION=y
# CONFIG_SND_DRIVERS is not set
# CONFIG_SND_SPI is not set
# CONFIG_SND_PCMCIA is not set
CONFIG_SND_SOC=m
CONFIG_SND_SOC_ACPI=m
CONFIG_SND_SOC_ACPI_INTEL_MATCH=m

# DRM
CONFIG_DRM=m
CONFIG_DRM_I915_ALPHA_SUPPORT=y

# Intel ME
CONFIG_INTEL_MEI=m
CONFIG_INTEL_MEI_ME=m
CONFIG_INTEL_MEI_TXE=m
CONFIG_INTEL_MEI_GSC=m
CONFIG_INTEL_MEI_GSC_PROXY=m

#
# Intel thermal drivers
#
CONFIG_INTEL_POWERCLAMP=m
CONFIG_X86_PKG_TEMP_THERMAL=m
CONFIG_INTEL_SOC_DTS_THERMAL=m

#
# ACPI INT340X thermal drivers
#
CONFIG_INT340X_THERMAL=m
CONFIG_INT3406_THERMAL=m
CONFIG_INTEL_PCH_THERMAL=m

#
# Generic IOMMU Pagetable Support
#
CONFIG_INTEL_IOMMU_SVM=y
CONFIG_IRQ_REMAP=y

# Buttons and LEDs
CONFIG_THINKPAD_ACPI=m
CONFIG_THINKPAD_ACPI_ALSA_SUPPORT=y

CONFIG_DELL_SMBIOS=m
CONFIG_DCDBAS=m
CONFIG_DELL_LAPTOP=m
CONFIG_DELL_WMI=m

CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_AUDIO=m

# USB Sound Card Support
CONFIG_SND_USB=y
CONFIG_SND_USB_AUDIO=m

# HDMI audio needed for BYT/CHT
CONFIG_HDMI_LPE_AUDIO=m

# Enable legacy audio drivers
CONFIG_SND_SOC_INTEL_CATPT=m
CONFIG_SND_SST_ATOM_HIFI2_PLATFORM_ACPI=m
CONFIG_SND_SOC_INTEL_SKYLAKE=m
CONFIG_SND_SOC_INTEL_SKYLAKE_HDAUDIO_CODEC=y

# needed for Broadwell
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n

# TigerLake support
CONFIG_PCI_IOV=y
CONFIG_VMD=m
CONFIG_PCIE_DW=y
CONFIG_PCIE_DW_HOST=y
CONFIG_PCIE_DW_PLAT=y
CONFIG_PCIE_DW_PLAT_HOST=y
CONFIG_INTEL_IDMA64=m

# Scheduling
# after 5.16-rc1, PREEMPT_VOLUNTARY is the default, but this raises problems
# with interrupts
# https://github.com/thesofproject/linux/issues/3283
# to be bug-compatible with previous releases, PREEMPT is selected explicitly.
# This should be removed when these issues are resolved.
CONFIG_PREEMPT_NONE=n
CONFIG_PREEMPT_VOLUNTARY=n
CONFIG_PREEMPT=y

# Powertop wants devfreq
CONFIG_PM_DEVFREQ=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=m
CONFIG_DEVFREQ_GOV_PERFORMANCE=m
CONFIG_DEVFREQ_GOV_POWERSAVE=m
CONFIG_DEVFREQ_GOV_USERSPACE=m
CONFIG_DEVFREQ_GOV_PASSIVE=m

# some systems are locked to X86_X2APIC and can not fall back to the
#  legacy APIC modes if SGX or TDX are enabled in the BIOS
CONFIG_X86_X2APIC=y
