# code coverage collection
CONFIG_KCOV=y
CONFIG_KCOV_INSTRUMENT_ALL=y

# show code coverage in web interface
CONFIG_DEBUG_INFO=y

# KASAN for use-after-free and out-of-bounds detection
CONFIG_KASAN_INLINE=y

# Any other debugging configs
CONFIG_PROVE_LOCKING=y
CONFIG_PROVE_RCU=y

# Disable the following configs
# CONFIG_RANDOMIZE_BASE is not set

# Increase RCU stall timeout to reduce false positive rate
CONFIG_RCU_CPU_STALL_TIMEOUT=60

# PSTORE
CONFIG_PSTORE=m
CONFIG_EFI_VARS_PSTORE=m
CONFIG_PSTORE_DEFAULT_KMSG_BYTES=10240
CONFIG_PSTORE_DEFLATE_COMPRESS=m
CONFIG_PSTORE_COMPRESS=y
CONFIG_PSTORE_DEFLATE_COMPRESS_DEFAULT=y
CONFIG_PSTORE_COMPRESS_DEFAULT="deflate"
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=m
CONFIG_PSTORE_ZONE=m
CONFIG_PSTORE_BLK=m
CONFIG_PSTORE_BLK_BLKDEV=""
CONFIG_PSTORE_BLK_KMSG_SIZE=64
CONFIG_PSTORE_BLK_MAX_REASON=2
CONFIG_PSTORE_BLK_PMSG_SIZE=64
CONFIG_PSTORE_BLK_CONSOLE_SIZE=64
