# These configurations can be used by distros without issues

# Generic SOF selections
CONFIG_SND_SOC_SOF_TOPLEVEL=y
CONFIG_SND_SOC_SOF_PCI=m
CONFIG_SND_SOC_SOF_ACPI=m
CONFIG_SND_SOC_SOF_OF=m
CONFIG_SND_SOC_SOF_CLIENT_SUPPORT=y

# SOF Intel platform drivers
CONFIG_SND_SOC_SOF_INTEL_TOPLEVEL=y

#SOF i.MX platform drivers
CONFIG_SND_SOC_SOF_IMX_TOPLEVEL=y
CONFIG_SND_SOC_SOF_IMX8_SUPPORT=y
CONFIG_SND_SOC_SOF_IMX8M_SUPPORT=y

# SOF Mediatek platform drivers
CONFIG_SND_SOC_SOF_MTK_TOPLEVEL=y
CONFIG_SND_SOC_SOF_MT8195=m

# SOF Mediatek machine drivers
CONFIG_SND_SOC_MT8195=m
CONFIG_SND_SOC_MT8195_MT6359_RT1019_RT5682=m
