CONFIG_SOUNDWIRE=m
CONFIG_SOUNDWIRE_INTEL=m
CONFIG_SND_SOC_INTEL_SOUNDWIRE_RT700_MACH=m
CONFIG_SND_SOC_RT700_SDW=m
CONFIG_SND_SOC_RT711_SDW=m
CONFIG_SND_SOC_RT1308_SDW=m
CONFIG_SND_SOC_SOF_SOUNDWIRE_LINK=y
CONFIG_SND_SOC_SOF_SOUNDWIRE=m
