# CONFIG_SND_HDA_INTEL is not set
CONFIG_SND_SOC_INTEL_HASWELL=m
CONFIG_SND_SST_ATOM_HIFI2_PLATFORM_PCI=m
CONFIG_SND_SST_ATOM_HIFI2_PLATFORM_ACPI=m
CONFIG_SND_SOC_INTEL_SKYLAKE=m
CONFIG_SND_SOC_INTEL_SKYLAKE_HDAUDIO_CODEC=y

# needed for Broadwell
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
